*.idea
*.iml
*.ipr
*.iws
out/
.gradle/
build/
android/assets/
android/gen/
android/libs/
.idea/

site/client/target/
site/common/.js/
site/common/.jvm/
site/project/project/
site/project/target/
site/server/logs/
site/server/target/
site/server/test/
site/target/
core/.classpath
launcher/.hexagons/
launcher/Data/
launcher/Maps/
launcher/settings.json
rankserv/db.properties
rankserv/settings.json
test-deploy.sh
docs_build/
local.properties
version/.classpath