@()

@hexmain("Download Hexagons!", "hexdl", "Download", "Hexagons") {
    <div class="start-button"><span class="download-not-yet">Windows</span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Android</span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span><a href="https://ci.hexagons.xyz/job/Hexagons/135/artifact/artifacts/HexagonsLauncher-0.3.135-all.jar">Java</a></span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Other</span></div>
}
