@()

@hexmain("Hexagons!", "hexlogobig", "Welcome to", "Hexagons") {
    <div class="start-button"><span><a href="/download">Download</a></span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span><a href="/maps">Maps</a></span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Community</span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span><a href="/profile">Profile</a></span></div>
}
