@()

@hexmain("Hexagons!", "hexdl", "Download", "maps") {
    <div class="start-button"><span><a href="https://ci.hexagons.xyz/job/Hexagons/lastSuccessfulBuild/artifact/artifacts/Maps.zip">OpenHexagons Ports</a></span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Some</span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Other</span></div>
    <div class="start-spacer"><div><span>-</span></div></div>
    <div class="start-button"><span class="download-not-yet">Packs</span></div>
}
