@(user: models.Profile)

@usermain(user.name + " - Hexagons", user.ownName) {
<div class="profile-root">
    <div class="profile-line">
        <div class="profile-name">@user.name</div>
        <div class="profile-big">#@user.globalRank</div>
    </div>
    <div>played <span class="profile-big">@user.playCount</span> times</div>
    <div><span class="profile-big">@{user.rankedScoreK}K</span> <span class="text-cyan">R</span>ank<span class="text-cyan">S</span>core</div>
    <div>@user.totalScoreK K total score</div>
</div>
@playscalajs.html.selectScript("client")
@playscalajs.html.launcher("client")
}
