@(err: Boolean, prev: String)

@main("Register") {
    <div class="root">
        <div class="register-root">
            <form method="post" action="/start/register">
                <p class="register-head">Claim a name</p>
                @if(err) {
                    <p class="text-warn">Name already claimed!</p>
                }
                <p class="register-input"><input name="nick" type="text" placeholder="@prev"/></p>
                <p>This name will be displayed on leader boards and used to invite friends</p>
                <p><input class="register-button" type="submit" value="Claim Name!"/></p>
                <p class="register-logo"><img src="@routes.Assets.versioned("images/hexlogobig.png")"></p>
            </form>
        </div>
    </div>
}
