rotation {
  speed: 0.495
  maxSpeed: 0.73
  increment: 0.08
  rapidSpinSpeed: 71
}

difficulty {
  delayMultiplier: 1.1
  delayMultiplierIncrement: -0.01
  difficulty: 1
  levelIncrement: 15
  speed: 2.25
  speedIncrement: 0.045
}

beatPulse {
  max: 1.2
}

pulse {
  min: 64
  max: 84
  speed: 1.05
  speedReverse: 1.34
  delayMax: 7
}

sides {
  start: 6
  min: 5
  max: 7
}

view {
  layers: 3
  depth: 153.5
  skew: 0.83
  minSkew: 0
  maxSkew: 0.83
  skewTime: 5.5
}


