.profile-root {
  width: 100%;
  padding-top: 1.5em;
  padding-left: 1em;
}

.profile-name {
  font-size: 4em;
}

.profile-big {
  font-size: 1.8em;
}

.profile-line {
  display: flex;
  padding-bottom: 0.3em;

  div {
    align-self: flex-end;
    padding-right: 0.1em;
  }
}

