.user-bg-root {
    background-color: transparent;
}

.user-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    img {
        width: 130%;
        height: 130%;
        position: relative;
        top: -15%;
        left: -15%;
    }
}

.user-root {
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    z-index: 2;
    position: relative;
}

.user-head {
    width: 100%;
    background: rgba(32, 32, 32, 0.75);
    display: flex;
}

.user-logo {
    img {
        width: 5em;
        height: 5em;
    }
}

.user-menu {
    flex-grow: 1;
    display: flex;
    font-size: 1.5em;

    a {
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            div {
                padding: 0 2ex;
            }

            div:hover {
                border-bottom: 1px solid #02eafa;
            }
        }
    }

    .user-username {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        div {
            padding: 0 2ex;
            align-self: flex-end;
        }
    }
}

.user-main {
    width: 100%;
}
